In [1]:
from probatus.feature_elimination import ShapRFECV
from sklearn.datasets import make_classification
from sklearn.model_selection import train_test_split
from catboost import CatBoostClassifier
import numpy as np
import pandas as pd

# Shap variance penalty

When ShapRFECV is computing feature importance and subsequently eliminating features, it computes the average of shap values to get an estimate of that feature's overall importance. In some situations, the variance of these shap values might be high - which might indicate a lack of agreement regarding that feature's importance. Catering to this situation, probatus allows you to penalize features that have a higher variance of shap values.

By setting `shap_variance_penalty_factor` param within `fit_compute()` method, the averaging of shap values is computed by:
<<add>>

See example below:

In [2]:
X, y = make_classification(n_samples=5000, n_informative=20, n_features=100)
clf = CatBoostClassifier(n_estimators=1000, verbose=0)
shap_elimination = ShapRFECV(clf=clf, step=0.2, min_features_to_select=5, cv=5, scoring="f1", n_jobs=5, verbose=1)
report_with_penalty = shap_elimination.fit_compute(X, y, shap_variance_penalty_factor=1.0)
report_without_penalty = shap_elimination.fit_compute(X, y, shap_variance_penalty_factor=0)

 99%|===================| 991/1000 [00:27<00:00]        The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
 98%|===================| 975/1000 [00:27<00:00]        The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.

In [3]:
report_with_penalty

,num_features,features_set,eliminated_features,train_metric_mean,train_metric_std,val_metric_mean,val_metric_std
1,100,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[94, 57, 78, 41, 30, 47, 10, 88, 22, 95, 36, 8...",0.999,0.000,0.943,0.006
2,80,"[0, 1, 2, 3, 4, 6, 7, 8, 9, 11, 12, 13, 14, 15...","[45, 40, 83, 6, 14, 86, 26, 80, 42, 23, 99, 89...",0.999,0.000,0.947,0.006
3,64,"[0, 1, 2, 3, 4, 8, 9, 11, 12, 13, 15, 16, 17, ...","[53, 69, 44, 60, 33, 34, 65, 93, 8, 73, 72, 32]",0.999,0.000,0.947,0.006
4,52,"[0, 1, 2, 3, 4, 9, 11, 12, 13, 15, 16, 17, 18,...","[15, 85, 98, 64, 52, 9, 49, 63, 74, 58]",0.999,0.000,0.947,0.006
5,42,"[0, 1, 2, 3, 4, 11, 12, 13, 16, 17, 18, 21, 24...","[27, 31, 48, 54, 3, 50, 81, 21]",0.999,0.000,0.949,0.006
6,34,"[0, 1, 2, 4, 11, 12, 13, 16, 17, 18, 24, 25, 2...","[39, 11, 84, 37, 68, 2]",0.998,0.000,0.950,0.007
7,28,"[0, 1, 4, 12, 13, 16, 17, 18, 24, 25, 28, 29, ...","[91, 18, 97, 24, 90]",0.998,0.000,0.954,0.010
8,23,"[0, 1, 4, 12, 13, 16, 17, 25, 28, 29, 35, 38, ...","[77, 82, 28, 4]",0.998,0.000,0.952,0.008
9,19,"[0, 1, 12, 13, 16, 17, 25, 29, 35, 38, 43, 46,...","[16, 25, 38]",0.997,0.000,0.946,0.008
10,16,"[0, 1, 12, 13, 17, 29, 35, 43, 46, 66, 67, 71,...","[0, 1, 76]",0.994,0.001,0.930,0.007
11,13,"[12, 13, 17, 29, 35, 43, 46, 66, 67, 71, 75, 7...","[67, 46]",0.989,0.001,0.917,0.008
12,11,"[12, 13, 17, 29, 35, 43, 66, 71, 75, 79, 92]","[71, 66]",0.978,0.002,0.903,0.003
13,9,"[12, 13, 17, 29, 35, 43, 75, 79, 92]",[75],0.960,0.002,0.880,0.006
14,8,"[12, 13, 17, 29, 35, 43, 79, 92]",[43],0.944,0.003,0.861,0.006
15,7,"[12, 13, 17, 29, 35, 79, 92]",[12],0.929,0.002,0.841,0.007
16,6,"[13, 17, 29, 35, 79, 92]",[92],0.904,0.003,0.822,0.010
17,5,"[13, 17, 29, 35, 79]",[],0.875,0.002,0.784,0.010

In [4]:
report_without_penalty

,num_features,features_set,eliminated_features,train_metric_mean,train_metric_std,val_metric_mean,val_metric_std
1,100,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[94, 57, 78, 41, 30, 47, 10, 88, 22, 95, 36, 8...",0.999,0.000,0.943,0.006
2,80,"[0, 1, 2, 3, 4, 6, 7, 8, 9, 11, 12, 13, 14, 15...","[45, 40, 83, 6, 14, 86, 26, 80, 42, 23, 99, 89...",0.999,0.000,0.947,0.006
3,64,"[0, 1, 2, 3, 4, 8, 9, 11, 12, 13, 15, 16, 17, ...","[53, 69, 44, 60, 33, 34, 65, 93, 8, 73, 72, 32]",0.999,0.000,0.947,0.006
4,52,"[0, 1, 2, 3, 4, 9, 11, 12, 13, 15, 16, 17, 18,...","[15, 85, 98, 64, 52, 9, 49, 63, 74, 58]",0.999,0.000,0.947,0.006
5,42,"[0, 1, 2, 3, 4, 11, 12, 13, 16, 17, 18, 21, 24...","[27, 31, 48, 54, 3, 50, 81, 21]",0.999,0.000,0.949,0.006
6,34,"[0, 1, 2, 4, 11, 12, 13, 16, 17, 18, 24, 25, 2...","[39, 11, 84, 37, 68, 2]",0.998,0.000,0.950,0.007
7,28,"[0, 1, 4, 12, 13, 16, 17, 18, 24, 25, 28, 29, ...","[91, 18, 97, 24, 90]",0.998,0.000,0.954,0.010
8,23,"[0, 1, 4, 12, 13, 16, 17, 25, 28, 29, 35, 38, ...","[77, 82, 28, 4]",0.998,0.000,0.952,0.008
9,19,"[0, 1, 12, 13, 16, 17, 25, 29, 35, 38, 43, 46,...","[16, 25, 38]",0.997,0.000,0.946,0.008
10,16,"[0, 1, 12, 13, 17, 29, 35, 43, 46, 66, 67, 71,...","[0, 1, 76]",0.994,0.001,0.930,0.007
11,13,"[12, 13, 17, 29, 35, 43, 46, 66, 67, 71, 75, 7...","[67, 46]",0.989,0.001,0.917,0.008
12,11,"[12, 13, 17, 29, 35, 43, 66, 71, 75, 79, 92]","[71, 66]",0.978,0.002,0.903,0.003
13,9,"[12, 13, 17, 29, 35, 43, 75, 79, 92]",[75],0.960,0.002,0.880,0.006
14,8,"[12, 13, 17, 29, 35, 43, 79, 92]",[43],0.944,0.003,0.861,0.006
15,7,"[12, 13, 17, 29, 35, 79, 92]",[12],0.929,0.002,0.841,0.007
16,6,"[13, 17, 29, 35, 79, 92]",[92],0.904,0.003,0.822,0.010
17,5,"[13, 17, 29, 35, 79]",[],0.875,0.002,0.784,0.010
1,100,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[33, 49, 69, 53, 45, 78, 85, 57, 80, 34, 74, 6...",0.999,0.000,0.943,0.006
2,80,"[0, 1, 2, 3, 4, 5, 6, 7, 9, 10, 11, 12, 13, 14...","[15, 70, 5, 98, 63, 64, 9, 59, 88, 65, 22, 32,...",0.999,0.000,0.944,0.005
3,64,"[0, 1, 2, 3, 4, 6, 7, 10, 11, 12, 13, 14, 16, ...","[52, 10, 37, 36, 51, 87, 96, 72, 3, 26, 93, 44]",0.999,0.000,0.945,0.006
4,52,"[0, 1, 2, 4, 6, 7, 11, 12, 13, 14, 16, 17, 18,...","[23, 14, 48, 39, 6, 21, 50, 2, 89, 62]",0.999,0.000,0.950,0.005
5,42,"[0, 1, 4, 7, 11, 12, 13, 16, 17, 18, 24, 25, 2...","[54, 31, 84, 73, 55, 58, 7, 30]",0.999,0.000,0.950,0.008
6,34,"[0, 1, 4, 11, 12, 13, 16, 17, 18, 24, 25, 27, ...","[68, 61, 47, 11, 81, 27]",0.998,0.000,0.948,0.006
7,28,"[0, 1, 4, 12, 13, 16, 17, 18, 24, 25, 28, 29, ...","[91, 90, 18, 97, 24]",0.998,0.000,0.954,0.010
8,23,"[0, 1, 4, 12, 13, 16, 17, 25, 28, 29, 35, 38, ...","[0, 77, 82, 4]",0.998,0.000,0.952,0.008
9,19,"[1, 12, 13, 16, 17, 25, 28, 29, 35, 38, 43, 46...","[38, 28, 76]",0.997,0.000,0.945,0.005
10,16,"[1, 12, 13, 16, 17, 25, 29, 35, 43, 46, 66, 67...","[16, 25, 1]",0.994,0.001,0.936,0.004
11,13,"[12, 13, 17, 29, 35, 43, 46, 66, 67, 71, 75, 7...","[67, 46]",0.989,0.001,0.917,0.008
12,11,"[12, 13, 17, 29, 35, 43, 66, 71, 75, 79, 92]","[71, 66]",0.978,0.002,0.903,0.003
13,9,"[12, 13, 17, 29, 35, 43, 75, 79, 92]",[17],0.960,0.002,0.880,0.006
14,8,"[12, 13, 29, 35, 43, 75, 79, 92]",[12],0.953,0.003,0.875,0.005
15,7,"[13, 29, 35, 43, 75, 79, 92]",[13],0.932,0.003,0.850,0.012
16,6,"[29, 35, 43, 75, 79, 92]",[92],0.903,0.003,0.816,0.005
17,5,"[29, 35, 43, 75, 79]",[],0.870,0.003,0.778,0.004

# Which approach is better?

Let's compare a few different configurations of RFECV.

In [7]:
# Compare A: shap_variance_penalty_factor=0.5 & approximate=True
# vs B: shap_variance_penalty_factor=0 (disabled) & approximate=True
num_simulations = 10
results = []


def get_best_idx(shap_report):
    shap_report["eval_metric"] = shap_report["val_metric_mean"]
    best_iteration_idx = shap_report["eval_metric"].argmax()

    return best_iteration_idx


for i in range(num_simulations):
    # Params
    n_samples = np.random.randint(500, 5000)
    n_features = 200
    n_informative = np.random.randint(10, 200)
    test_size = np.random.uniform(0.05, 0.5)

    # Create data
    X, y = make_classification(n_samples=n_samples, n_informative=n_informative, n_features=n_features)
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=test_size, random_state=42)
    X_train = pd.DataFrame(X_train)
    X_test = pd.DataFrame(X_test)

    # Model
    clf = CatBoostClassifier(n_estimators=1000, verbose=0)

    # Best score from ShapRFECV WITHOUT penalization
    shap_elimination = ShapRFECV(clf=clf, step=0.2, min_features_to_select=5, cv=5, scoring="f1", n_jobs=5, verbose=1)
    report_a = shap_elimination.fit_compute(
        X_train, y_train, shap_variance_penalty_factor=0, approximate=True, check_additivity=False
    )
    best_idx_a = get_best_idx(report_a)
    best_score_a = report_a["val_metric_mean"].iloc[best_idx_a]
    std_a = report_a["val_metric_std"].iloc[best_idx_a]
    num_features_a = report_a["num_features"].iloc[best_idx_a]

    # Best score from ShapRFECV WITH penalization
    shap_elimination = ShapRFECV(clf=clf, step=0.2, min_features_to_select=5, cv=5, scoring="f1", n_jobs=5, verbose=1)
    report_b = shap_elimination.fit_compute(
        X_train, y_train, shap_variance_penalty_factor=0.5, approximate=True, check_additivity=False
    )
    best_idx_b = get_best_idx(report_b)
    best_score_b = report_b["val_metric_mean"].iloc[best_idx_b]
    std_b = report_b["val_metric_std"].iloc[best_idx_b]
    num_features_b = report_b["num_features"].iloc[best_idx_b]

    results.append(
        [best_score_a, std_a, num_features_a, best_score_b, std_b, num_features_b, n_samples, n_features, n_informative]
    )

    results_df = pd.DataFrame(
        results,
        columns=[
            "best_score_a",
            "std_a",
            "num_features_a",
            "best_score_b",
            "std_b",
            "num_features_b",
            "n_samples",
            "n_features",
            "n_informative",
        ],
    )

# Show results
results_df

The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.

,best_score_a,std_a,num_features_a,best_score_b,std_b,num_features_b,n_samples,n_features,n_informative
0,0.783,0.015,67,0.787,0.022,103,930,200,138
1,0.844,0.025,44,0.843,0.026,67,1224,200,105
2,0.776,0.030,44,0.775,0.042,29,1154,200,180
3,0.923,0.003,200,0.923,0.003,200,3608,200,27
4,0.786,0.026,67,0.786,0.013,44,744,200,105
5,0.916,0.011,103,0.914,0.017,83,3272,200,52
6,0.820,0.020,128,0.825,0.017,54,1388,200,159
7,0.844,0.029,67,0.851,0.028,160,2391,200,104
8,0.843,0.014,67,0.841,0.019,83,1141,200,94
9,0.892,0.013,200,0.896,0.020,54,2704,200,39

In [5]:
# Compare A: shap_variance_penalty_factor=0.5 & approximate=False
# vs B: shap_variance_penalty_factor=0 (disabled) & approximate=False
num_simulations = 10
results = []

for i in range(num_simulations):
    # Params
    n_samples = np.random.randint(500, 5000)
    n_features = 200
    n_informative = np.random.randint(10, 200)
    test_size = np.random.uniform(0.05, 0.5)

    # Create data
    X, y = make_classification(n_samples=n_samples, n_informative=n_informative, n_features=n_features)
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=test_size, random_state=42)
    X_train = pd.DataFrame(X_train)
    X_test = pd.DataFrame(X_test)

    # Model
    clf = CatBoostClassifier(n_estimators=1000, verbose=0)

    # Best score from ShapRFECV WITHOUT penalization
    shap_elimination = ShapRFECV(clf=clf, step=0.2, min_features_to_select=5, cv=5, scoring="f1", n_jobs=5, verbose=1)
    report_a = shap_elimination.fit_compute(X_train, y_train, shap_variance_penalty_factor=0, approximate=False)
    best_idx_a = get_best_idx(report_a)
    best_score_a = report_a["val_metric_mean"].iloc[best_idx_a]
    std_a = report_a["val_metric_std"].iloc[best_idx_a]
    num_features_a = report_a["num_features"].iloc[best_idx_a]

    # Best score from ShapRFECV WITH penalization
    shap_elimination = ShapRFECV(clf=clf, step=0.2, min_features_to_select=5, cv=5, scoring="f1", n_jobs=5, verbose=1)
    report_b = shap_elimination.fit_compute(X_train, y_train, shap_variance_penalty_factor=0.5, approximate=False)
    best_idx_b = get_best_idx(report_b)
    best_score_b = report_b["val_metric_mean"].iloc[best_idx_b]
    std_b = report_b["val_metric_std"].iloc[best_idx_b]
    num_features_b = report_b["num_features"].iloc[best_idx_b]

    results.append(
        [best_score_a, std_a, num_features_a, best_score_b, std_b, num_features_b, n_samples, n_features, n_informative]
    )

    results_df = pd.DataFrame(
        results,
        columns=[
            "best_score_a",
            "std_a",
            "num_features_a",
            "best_score_b",
            "std_b",
            "num_features_b",
            "n_samples",
            "n_features",
            "n_informative",
        ],
    )

# Show results
results_df

The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
 97%|=================== | 450/466 [00:13<00:00]       The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
 99%|===================| 461/466 [00:14<00:00]        The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
 99%|===================| 336/338 [00:11<00:00]        The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
100%|===================| 337/338 [00:11<00:00]        The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
100%|===================| 518/520 [00:15<00:00]       The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
100%|===================| 517/519 [00:15<00:00]        The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
 98%|===================| 790/806 [00:22<00:00]        The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
 97%|=================== | 779/806 [00:22<00:00]       The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
100%|===================| 514/515 [00:15<00:00]        The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
 96%|=================== | 495/514 [00:14<00:00]       The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.

,best_score_a,std_a,num_features_a,best_score_b,std_b,num_features_b,n_samples,n_features,n_informative
0,0.891,0.019,24,0.891,0.019,24,1059,200,34
1,0.819,0.025,128,0.821,0.019,83,1357,200,129
2,0.840,0.032,160,0.843,0.020,128,2898,200,175
3,0.927,0.011,16,0.927,0.011,16,2656,200,18
4,0.811,0.034,128,0.812,0.029,67,1574,200,129
5,0.904,0.011,83,0.899,0.010,103,4039,200,89
6,0.854,0.011,83,0.862,0.014,103,1769,200,107
7,0.839,0.013,128,0.828,0.019,103,2080,200,162
8,0.957,0.003,36,0.957,0.007,67,4916,200,31
9,0.854,0.010,128,0.855,0.016,160,4139,200,164